  <div class="review<%= ThumbsYupRails.configuration.review_size.capitalize %>">
    <div class="rstyle<%= ThumbsYupRails.configuration.review_color.capitalize + ThumbsYupRails.configuration.review_style.capitalize + ThumbsYupRails.configuration.review_background.capitalize %>">
      <%= CGI::escapeHTML(body) %>
    </div>
    <p class="signature">
      <%= CGI::escapeHTML(first_name) %>
    </p>
  </div>
